# EXECUTIVE KPI SUMMARY

## Portafoglio Prodotti

In [161]:
num_SKU=df["ProductID"].nunique()
print("Numero SKU attivi nel portafoglio:",num_SKU)

Numero SKU attivi nel portafoglio: 1559

In [162]:
fatt_tot=df["OutletSales"].sum()
print("Fatturato totale:", fatt_tot, "(18.59 Milioni)")

Fatturato totale: 18591125.52 (18.59 Milioni)

In [163]:
print(f"Fatturato medio per SKU: {fatt_tot/num_SKU:,.2f}")

Fatturato medio per SKU: 11,925.03

In [164]:
EUS_tot=df["EstimatedUnitsSold"].sum()
print(f"Numero stimato di vendite totali: {EUS_tot:.0f}")

Numero stimato di vendite totali: 131473

In [165]:
print(f"Unità vendute medie per SKU (stimate): {EUS_tot/num_SKU:.2f}")

Unità vendute medie per SKU (stimate): 84.33

## Concentrazione

In [166]:
print(f"L'80% del fatturato è generato dalla top {fatt_pareto_80:.2%} degli SKU")

L'80% del fatturato è generato dalla top 57.73% degli SKU

In [167]:
print(f"L'80% delle vendite stimate è generato dalla top {EUS_pareto_80:.2%} degli SKU")

L'80% delle vendite stimate è generato dalla top 67.42% degli SKU

In [168]:
display(Markdown("### Tabella con performance Fatturato/SKU per Outlet"))
display(outlet_stats_desc)

### Tabella con performance Fatturato/SKU per Outlet

          Fatturato_Outlet  Num_SKU_Outlet  Sales_per_SKU  Productivity_Index
OutletID
OUT027          3453925.90             935        3694.04                1.82
OUT035          2268122.99             930        2438.84                1.20
OUT049          2183969.83             930        2348.35                1.16
OUT017          2167465.48             926        2340.68                1.15
OUT013          2142663.55             932        2299.00                1.13
OUT046          2118395.22             930        2277.84                1.12
OUT045          2036725.52             929        2192.38                1.08
OUT018          1851822.81             928        1995.50                0.98
OUT010           188340.12             555         339.35                0.17
OUT019           179694.10             528         340.33                0.17

In [169]:
print("La Produttività SKU per Outlet varia da ~340 a ~3.694")

La Produttività SKU per Outlet varia da ~340 a ~3.694

## Struttura del Portafoglio

In [170]:
display(Markdown("### Panoramica Valore/Volume"))
display(quadrant_summary)

### Panoramica Valore/Volume

                   Quadrant  SKU   TotalSales  TotalEUS  %_SKU  %_Sales  %_EUS
0  High Value – High Volume  546  10367236.08  60445.05  35.02    55.76  45.98
1   High Value – Low Volume  234   3293653.71  16499.44  15.01    17.72  12.55
2   Low Value – High Volume  234   1688254.26  23861.97  15.01     9.08  18.15
3    Low Value – Low Volume  545   3241981.47  30666.98  34.96    17.44  23.33

## Assortimento e Distribuzione

In [171]:
print(f"In media, ogni SKU è distribuito in {sku_ubiquity['NumOutlets'].mean().round(2)} outlet")

In media, ogni SKU è distribuito in 5.47 outlet

In [172]:
sku_ubiquity['NumOutlets'].describe()

count    1559.000000
mean        5.466966
std         1.528516
min         1.000000
25%         4.000000
50%         5.000000
75%         6.500000
max        10.000000
Name: NumOutlets, dtype: float64

# KEY INSIGHT & ACTIONS

## Portafoglio ampio con valore concentrato

In [173]:
print("""Il portafoglio conta 1.559 SKU, ma il valore è fortemente concentrato:
57,7% degli SKU genera l’80% del fatturato
67,4% degli SKU genera l’80% dei volumi.

Non siamo in una logica 80/20 estrema ma esiste una coda lunga significativa che contribuisce poco al valore.

Azioni: 
- Ridurre la complessità non performante
- Migliorare efficienza operativa e leggibilità dell’assortimento
- Liberare risorse da riallocare su prodotti core""")

Il portafoglio conta 1.559 SKU, ma il valore è fortemente concentrato:
57,7% degli SKU genera l’80% del fatturato
67,4% degli SKU genera l’80% dei volumi.

Non siamo in una logica 80/20 estrema ma esiste una coda lunga significativa che contribuisce poco al valore.

Azioni:
- Ridurre la complessità non performante
- Migliorare efficienza operativa e leggibilità dell’assortimento
- Liberare risorse da riallocare su prodotti core

## Matrice Valore/Volume

In [174]:
print("""Guardando la matrice Valore/Volume si nota che:
35% degli SKU (High Value – High Volume) genera: 56% del fatturato, 46% dei volumi
35% degli SKU (Low Value – Low Volume) genera: 17% del fatturato, 23% dei volumi
      
Si evince che la long tail non è irrilevante ma consuma spazio, riduce produttività media e aumenta complessità gestionale.

Azioni:
- KPI e target differenziati per quadrante
- Strategie di pricing, promozione e supporto commerciale non uniformi
- Decisioni guidate dalla reale eterogeneità del portafoglio""")

Guardando la matrice Valore/Volume si nota che:
35% degli SKU (High Value – High Volume) genera: 56% del fatturato, 46% dei volumi
35% degli SKU (Low Value – Low Volume) genera: 17% del fatturato, 23% dei volumi

Si evince che la long tail non è irrilevante ma consuma spazio, riduce produttività media e aumenta complessità gestionale.

Azioni:
- KPI e target differenziati per quadrante
- Strategie di pricing, promozione e supporto commerciale non uniformi
- Decisioni guidate dalla reale eterogeneità del portafoglio

## Differenze di produttività tra outlet

In [175]:
print("""La Produttività SKU per outlet varia da ~340 (OUT010, OUT019) a ~3.694 (OUT027).
L'indice di produttività da 0.17 a 1.82

Questi forti differenze non sono spiegabili solamente dal numero degli SKU, 
la produttività dello stesso assortimento varia drasticamente tra outlet.

Azioni:
- Benchmark tra outlet ad alta e bassa produttività
- Replicare le best practice degli outlet performanti su execution e mix di assortimento
- Obiettivi realistici e comparabili per formato""")

La Produttività SKU per outlet varia da ~340 (OUT010, OUT019) a ~3.694 (OUT027).
L'indice di produttività da 0.17 a 1.82

Questi forti differenze non sono spiegabili solamente dal numero degli SKU,
la produttività dello stesso assortimento varia drasticamente tra outlet.

Azioni:
- Benchmark tra outlet ad alta e bassa produttività
- Replicare le best practice degli outlet performanti su execution e mix di assortimento
- Obiettivi realistici e comparabili per formato

## Star Products VS Long Tail

In [176]:
print("""I top3 Star Products (FDY55,FDA15,FDZ20) hanno un fattore moltiplicativo di 2.3 volte il fatturato mediano 
degli altri prodotti dello stesso quadrante (High Value – High Volume) e un volume maggiore del 52%
Sono i driver principali, con prezzo accettato dal mercato e domanda stabile.

Nel quadrante Low Value – Low Volume ci sono alcuni SKU con performance inferiore al 35% degli altri prodotti dello stesso quadrante 
sui rapporti fatturato/outlet e EUS/outlet (vedi matrice decionale nella sezione Long Tail). 
Sono i candidati principali per operazioni di razionalizzazione, re-pricing e promozione.

Azioni:
- Valutare l'inserimento di FDZ20 negli store di type 2
- Implementare strategie assortitive e di layout specifiche per store per i top Star Products
- Valutare l'eliminazione degli SKU NCR42 e FDQ60 (altamente inefficienti)
- Implementare strategie di re-pricing o promozione per i worst della Long Tail""")

I top3 Star Products (FDY55,FDA15,FDZ20) hanno un fattore moltiplicativo di 2.3 volte il fatturato mediano
degli altri prodotti dello stesso quadrante (High Value – High Volume) e un volume maggiore del 52%
Sono i driver principali, con prezzo accettato dal mercato e domanda stabile.

Nel quadrante Low Value – Low Volume ci sono alcuni SKU con performance inferiore al 35% degli altri prodotti dello stesso quadrante
sui rapporti fatturato/outlet e EUS/outlet (vedi matrice decionale nella sezione Long Tail).
Sono i candidati principali per operazioni di razionalizzazione, re-pricing e promozione.

Azioni:
- Valutare l'inserimento di FDZ20 negli store di type 2
- Implementare strategie assortitive e di layout specifiche per store per i top Star Products
- Valutare l'eliminazione degli SKU NCR42 e FDQ60 (altamente inefficienti)
- Implementare strategie di re-pricing o promozione per i worst della Long Tail